{% extends 'base.html' %}

{% block title %}Home | Istehar{% endblock %}

{% block body %}
    <div class="row">
        <!--top head-->
        <div class="col s12 m12 l12 white">
            <div class="col s12 m8 offset-m2 l10 offset-l1" style="">
                <!--top head main-->
                <div class="col m8 l8">
                    <h5 style="margin-top: 50px;">
                        Welcome to Istehar.com - the largest marketplace in Bangladesh!
                    </h5>

                    <p style="margin-top: 40px;">
                        Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more in <b>Bangladesh - for free!</b>
                    </p>

                    <p style="margin-top: 60px;">Browse our top categories:</p>

                    <div class="col s12 m8 l8" style="padding: 0px; margin-top: 20px; margin-bottom: 50px;">
                        <div class="card white">
                            <div class="card-content black-text">
                                <div class="row">
                                    <div class="col s3 center-align">
                                        <i style="font-size: 30px;" class="material-icons">phone_android</i>
                                        <a href="#">Electronics</a>
                                    </div>

                                    <div class="col s3 center-align">
                                        <i style="font-size: 30px;" class="material-icons">home</i>
                                        <a href="#">Property</a>
                                    </div>

                                    <div class="col s3 center-align">
                                        <i style="font-size: 30px;" class="material-icons">directions_car</i><br>
                                        <a href="#">Cars & Vehicles</a>
                                    </div>

                                    <div class="col s3 center-align">
                                        <i style="font-size: 30px;" class="material-icons">work</i><br>
                                        <a href="#">Jobs in Bangladesh</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-action">
                                Istehar Deals! Great deals delivered straight to your doorstep
                            </div>
                        </div>
                    </div>
                </div>
                <!--end top head main-->

                <!--right side bar-->
                <div class="col m4 l4" style="margin-top: 40px;">
                    <div class="right">
                    <h5>Divisions</h5>
                    {% for division in divisions %}
                        {% if division.name == 'none' %}
                        {% else %}
                        <a href="#">
                            {{ division.name | title }}
                        </a><br>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <!--right side bar-->
            </div>

        </div>
        <!--end top head-->

        <div class="col s12 m12 l12 divider gray">

        </div>

        <!--start category-->
        <div class="col s12 m10 offset-m1 l10 offset-l1 white" style="margin-top: 40px; margin-bottom: 50px; padding: 20px;">
            <div class="row">
                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">phone_android</i><br>
                    <a href="#">Electronics</a><br>
                    <span style="color: gray;">( {{ electronics_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Find great deals for used electronics in Bangladesh including mobile phones, computers, laptops, TVs, cameras and much more.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">home</i><br>
                    <a href="#">Home & Garden</a><br>
                    <span style="color: gray;">( {{ home_garden_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Buy and sell new and used home appliances including furniture, kitchen items, gardening products and other items for your garden.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">directions_car</i><br>
                    <a href="#">Cars & Vehicles</a><br>
                    <span style="color: gray;">( {{ car_vehicles_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Buy and sell used cars, motorbikes and other vehicles in Bangladesh. Choose from top brands including Toyota, Nissan, Honda and Suzuki.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">home</i><br>
                    <a href="#">Property</a><br>
                    <span style="color: gray;">( {{ property_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        View listings for property in Bangladesh. Find the cheapest rates for apartments, commercial and residential properties, as well as for land and plots.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">watch</i><br>
                    <a href="#">Clothing, Health & Beauty</a><br>
                    <span style="color: gray;">( {{ cloth_health_beauty_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Buy and sell clothing, garments, shoes and other personal items including handbags, perfumes, children's toys and hand made items in Bangladesh.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">pets</i><br>
                    <a href="#">Pets & Animals</a><br>
                    <span style="color: gray;">( {{ pet_animal_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Search from the widest variety of pets in Bangladesh . Select from dogs, puppies, cats, kittens, birds and other domesticated animals.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">filter_tilt_shift</i><br>
                    <a href="#">Hobby, Sport & Kids</a><br>
                    <span style="color: gray;">( {{ hobby_sport_kid_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Buy and sell used musical instruments, sports gear and accessories, art and collectibles and items for kids here.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">local_dining</i><br>
                    <a href="#">Services</a><br>
                    <span style="color: gray;">( {{ service_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Browse through a range of service offerings to businesses and consumers alike.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">work</i><br>
                    <a href="#">Jobs in Bangladesh</a><br>
                    <span style="color: gray;">( {{ job_bd_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Post and apply for jobs and career opportunities in Bangladesh. Search for job vacancies in your city.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">school</i><br>
                    <a href="#">Education</a><br>
                    <span style="color: gray;">( {{ education_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Buy and sell books and magazines, find tuition, classes and other educational resources in Bangladesh.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">account_balance</i><br>
                    <a href="#">Business & Industry</a><br>
                    <span style="color: gray;">( {{ business_industry_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        This is where businesses in Bangladesh trade, numerous business and industry services offered to trade and consumers.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">apps</i><br>
                    <a href="#">Other</a><br>
                    <span style="color: gray;">( {{ other_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Classified ads for miscellaneous products and items all over Bangladesh. Buy and sell almost anything.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">build</i><br>
                    <a href="#">Food & Agriculture</a><br>
                    <span style="color: gray;">( {{ food_agriculture_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Find food and edible products, including fresh fruits and vegetables, meats, fish, seafood, crop seeds, plants and other agricultural products in Bangladesh.
                    </p>
                </div>

                <div class="col s3 center-align" style="">
                    <i style="font-size: 30px;" class="material-icons">language</i><br>
                    <a href="#">Overseas Jobs</a><br>
                    <span style="color: gray;">( {{ overseas_job_count }} )</span><br>
                    <p style="font-size: 12px; color: gray;">
                        Apply for overseas jobs, browse a range of quality international job vacancies in your dream location.
                    </p>
                </div>
            </div>
        </div>
        <!--start category-->

        <!--post add text-->

        <div class="col s12 m12 l12 center-align" style="margin-top: 20px; margin-bottom: 50px;">
            <h5>Do you have something to sell?</h5>
            <p>Post your ad on Istehar.com</p>

            <a href="{% url 'home:post-ad' %}" class="waves-effect waves-light btn #eeff41 lime accent-2 black-text" style="margin-top: 20px;">Post your ad now!</a>
        </div>

        <!--end post add text-->

    </div>
{% endblock %}
