<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
            font-family: 'myFont';
        }

        @font-face {
            font-family: 'myFont';
            src: url('/static/account/fonts/myFont.ttf');
        }
    </style>

    {% block style %}

    {% endblock %}

</head>

<body class="#eceff1 blue-grey lighten-5">
    <div class="container" style="height: 600px;">

        <!--navbar-->
        <div class="row white-text">
            <div class="col s12 m12 l12 #26a69a teal lighten-1" style="height: 70px;">
                <div class="col s12 m12 l10 offset-l1 valign-wrapper" style="height: 100%;">

                    <!--left side-->
                    <div class="col m6 l6">
                        <div class="col m5 center-align" style="font-size: 16px;">
                            <a class="white-text" href="{% url 'home:index' %}">Istehar Logo</a>
                        </div>

                        <div class="col m3 center-align" style="font-size: 16px;">
                            <p>All ads</p>
                        </div>
                    </div>
                    <!--end left side-->

                    <!--right side-->
                    <div class="col m6 l6">
                        <div class="col m5 center-align right" style="font-size: 16px; margin-top: 5px;">
                            <a href="{% url 'home:post-ad' %}" class="waves-effect waves-light btn #eeff41 lime accent-2 black-text">Post your ad</a>
                        </div>

                        {% if user.is_authenticated %}
                            <div class="col m3 center-align right" style="margin-top: 5px;">
                                <div class="chip #00796b teal darken-2 white-text">
                                    <a class="white-text" href="{% url 'account:dashboard' %}">{{ request.user.username }}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col m3 center-align right" style="margin-top: 5px;">
                                <div class="chip #00796b teal darken-2 white-text">
                                    <a class="white-text" href="{% url 'account:login' %}">Log in</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!--end right side-->

                </div>
            </div>
        </div>
        <!--end navbar-->


        {% block body %}

        {% endblock %}

        <div class="col s12 m12 l12 divider" style="margin-top: 80px; border-top: 2px solid gray;">

        </div>

        <!--footer-->
        <div class="row white">
            <div class="col s12 m12 l12" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="">
                    <div class="col s10 offset-s1 m4 offset-m4 l3" style="margin-top: 40px; margin-bottom: 40px;">
                        <!--android and ios link-->

                        
                    </div>

                    <div class="col s10 offset-s1 m8 offset-m2 l9" style="margin-top: 40px; margin-bottom: 40px;">
                        <div class="col s3 left-align" style="">
                            <b style="font-size: 14px;">Learn More</b>

                            <p style="margin-top: 20px;">
                                <a href="#">How to sell fast</a>
                            </p>

                            <p style="">
                                <a href="#">Buy Now on</a>
                            </p>

                            <p style="">
                                <a href="#">Istehar.com</a>
                            </p>

                            <p style="">
                                <a href="#">Membership</a>
                            </p>

                            <p style="">
                                <a href="#">Banner Advertising</a>
                            </p>

                            <p style="">
                                <a href="#">Promote your ad</a>
                            </p>
                        </div>

                        <div class="col s3 left-align" style="">
                            <b style="font-size: 14px;">Help & Support</b>

                            <p style="margin-top: 20px;">
                                <a href="#">FAQ</a>
                            </p>

                            <p style="">
                                <a href="#">Stay safe on </a>
                            </p>

                            <p style="">
                                <a href="#">Istehar.com</a>
                            </p>

                            <p style="">
                                <a href="#">Contact us</a>
                            </p>
                        </div>

                        <div class="col s3 left-align" style="">
                            <b style="font-size: 14px;">Social</b>

                            <p style="margin-top: 20px;">
                                <a href="#">Blog</a>
                            </p>

                            <p style="">
                                <a href="#">Facebook</a>
                            </p>

                            <p style="">
                                <a href="#">Twitter</a>
                            </p>

                            <p style="">
                                <a href="#">Youtube</a>
                            </p>

                            <p style="">
                                <a href="#">Google+</a>
                            </p>
                        </div>

                        <div class="col s3 left-align" style="">
                            <b style="font-size: 14px;">About us</b>

                            <p style="margin-top: 20px;">
                                <a href="#">About us</a>
                            </p>

                            <p style="">
                                <a href="#">Career</a>
                            </p>

                            <p style="">
                                <a href="#">Terms & Conditions</a>
                            </p>

                            <p style="">
                                <a href="#">Privacy Policy</a>
                            </p>

                            <p style="">
                                <a href="#">Sitemap</a>
                            </p>
                        </div>
                    </div>

                    <div class="col s12 m12 l12 divider" style="margin-top: 50px;">

                    </div>

                    <div class="col s12 m12 l12" style="margin-bottom: 50px;">
                        <p class="left" style="font-size: 12px; margin-top: 10px;">Copyright © bhubs Technologies</p>
                        <p class="right" style="font-size: 16px; margin-top: 5px;">Istehar.com</p>
                    </div>

                </div>

            </div>
        </div>
        <!--end footer-->

    </div>

    <!--js-->
    <script type="text/javascript" src="{% static 'account/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'account/js/materialize.min.js' %}"></script>

    {% block script %}

    {% endblock %}
</body>
</html>
