{% extends 'base.html' %}

{% block title %}My Ads | Istehar{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 40px;">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card white">
                <div class="card-content black-text">
                    <div class="row">

                        <!--left side menu-->
                        <div class="col m3 l3" style="">
                            <div class="col s12 m12 l12 divider" style="margin-bottom: 10px;"></div>

                            <a class="black-text" href="{% url 'account:dashboard' %}">
                                <div class="col s12 m12 l12" style="">
                                    <p class="left" style="font-size: 16px;">
                                        My account
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="{% url 'account:membership' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        My membership
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="{% url 'account:resume' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        My resume
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="#">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        Favourites
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="#">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        Settings
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                        </div>
                        <!--end left side menu-->

                        <div class="col m9 l9" style="">
                            <div class="col s12 m12 l12">
                                <h5>{{ request.user.username | title }}</h5>

                                <p class="divider"></p>
                            </div>

                            <div class="col s12 m12 l12 center-align" style="margin-top: 40px;">
                                <h5>You don't have any ads yet.</h5>
                                <p>Click the "Post an ad now!" button to post your ad.</p>

                                <a class="waves-effect waves-light btn #eeff41 lime accent-2 black-text" style="margin-top: 40px;">Post your ad now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
