{% extends 'base.html' %}

{% block title %}Edit Personal Information | Istehar{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 40px;">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card white">
                <div class="card-content black-text">
                    <div class="row">

                        <!--left side menu-->
                        <div class="col m3 l3" style="">
                            <div class="col s12 m12 l12 divider" style="margin-bottom: 10px;"></div>

                            <a class="" href="{% url 'account:dashboard' %}">
                                <div class="col s12 m12 l12" style="">
                                    <p class="left" style="font-size: 16px;">
                                        My account
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a class="" href="{% url 'account:membership' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        My membership
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a class="black-text" href="{% url 'account:resume' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        My resume
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="#">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        Favourites
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="{% url 'account:settings' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        Settings
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                        </div>
                        <!--end left side menu-->

                        <div class="col m9 l9" style="">
                            <div class="col s12 m12 l12">
                                <h5>My resume</h5>

                                <p class="divider"></p>
                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">

                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <h5>Edit Personal details</h5>

                                <p class="divider"></p>

                                <div class="col s12 m12 l12" style="margin-top: 30px;">

                                    {% for personal in personals %}

                                    {% if personal.photo %}
                                        <div class="col m2 l2" style="">
                                            <img src="{{ personal.photo.url }}" width="100%" alt="no-image">
                                        </div>
                                    {% else %}
                                        <div class="col m2 l2" style="">
                                            <img src="/media/no-img.jpg" width="100%" alt="no-image">
                                        </div>
                                    {% endif %}

                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="col m10 l10">
                                            <div class="input-field col s12 m8 l8">
                                                <div class="file-field input-field">
                                                    <div class="btn">
                                                        <span>Select Picture</span>
                                                        {{ edit_personal_form.photo }}
                                                    </div>

                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-field col s12 m6 l6" style="margin-top: 130px;">
                                            <i class="material-icons prefix">account_circle</i>
                                            {{ edit_personal_form.name }}
                                            <label for="icon_prefix white-text">Name</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6" style="margin-top: 130px;">
                                            <i class="material-icons prefix">call</i>
                                            {{ edit_personal_form.phone }}
                                            <label for="icon_prefix white-text">Phone</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">email</i>
                                            {{ edit_personal_form.email }}
                                            <label for="icon_prefix white-text">Email</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            {{ edit_personal_form.gender }}
                                            <label>Gender</label>
                                        </div>

                                        <div class="input-field col s12 m12 l12">
                                            <i class="material-icons prefix">date_range</i>
                                            {{ edit_personal_form.date_of_birth }}
                                            <label for="icon_prefix white-text">Birthdate</label>
                                        </div>

                                        <div class="col m12 l12" id="form_division" style="margin-top: 20px;">
                                            Select Division

                                            <div id="form_division_list">
                                                <select name="division" id="id_division" class="browser-default">
                                                    <option selected value="none" id="none">None</option>
                                                    {% for division in divisions %}
                                                        {% ifequal personal.division division %}
                                                            <option selected value="{{ division.id }}" id="{{ division.id }}">{{ division.name | title }}</option>
                                                        {% else %}
                                                            <option value="{{ division.id }}" id="{{ division.id }}">{{ division.name | title }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col m12 l12" id="form_district" style="margin-top: 20px;">
                                            Select District

                                            <div id="form_district_list">
                                                <select onChange="get_thana()" name="district" id="id_district" class="browser-default">
                                                    <option selected value="none" id="none">None</option>
                                                    {% for district in districts %}
                                                        {% ifequal personal.district district %}
                                                            <option selected value="{{ district.id }}" id="{{ district.id }}">{{ district.name | title }}</option>
                                                        {% else %}
                                                            <option value="{{ district.id }}" id="{{ district.id }}">{{ district.name | title }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col m12 l12" id="form_thana" style="margin-top: 20px;">
                                            Select Thana

                                            <div id="form_thana_list">
                                                <select name="thana" id="id_thana" class="browser-default">
                                                    <option selected value="none" id="none">None</option>
                                                    {% for thana in thanas %}
                                                        {% ifequal personal.thana thana %}
                                                            <option selected value="{{ thana.id }}" id="{{ thana.id }}">{{ thana.name | title }}</option>
                                                        {% else %}
                                                            <option value="{{ thana.id }}" id="{{ thana.id }}">{{ thana.name | title }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>


                                        {% if edit_personal_form.non_field_errors %}
                                            {% for error in edit_personal_form.non_field_errors %}
                                                <div class="col s12 m12 l12 center-align valign-wrapper red" style="height: 40px; border: 1px solid red; margin-bottom: 20px; margin-top: 30px;">
                                                    <p class="col s12 m12 l12 white-text" style="font-size: 14px;">
                                                        {{ error }}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="col s12 m12 l12">
                                            <button type="submit" class="waves-effect waves-light btn white-text" style="margin-top: 20px;">Update</button>
                                        </div>

                                    </form>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

<script>
    $(document).ready(function() {
        $('select').material_select();
    });


    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        format: 'yyyy-mm-dd',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });


    $(document).ready( function() {
        $("#id_division").change( function() {

            var division = $("#id_division").val();

            var container = $('<select onChange="get_thana()" name="district" id="id_district" class="browser-default" />');

            container.append('\
                <option value="none">'+ "None" +'</option>\
            ');

            $.ajax({
                url: '/staff/district/api/',
                data: { "division":division, },
                dataType: 'json',

                success: function (data) {
                    console.log(data);
                    length = data.length;


                    for(i=0; i<length; i++){
                        container.append('\
                            <option value='+data[i].id+' id='+data[i].id+'>'+ data[i].name +'</option>\
                        ');
                    };

                    $("#form_district_list").html(container);

                }
            });
        });
    });



function get_thana(){
    var divi = $("#id_division").val();
    var district = $("#id_district").val();

    var container = $('<select name="thana" id="id_thana" class="browser-default" />');

    container.append('\
        <option value="none">'+ "None" +'</option>\
    ');

    $.ajax({
        url: '/staff/thana/api/',
        data: { "division":divi, "district":district, },
        dataType: 'json',

        success: function (data) {

            length = data.length;


            for(i=0; i<length; i++){
                container.append('\
                    <option value='+data[i].id+' id='+data[i].id+'>'+ data[i].name +'</option>\
                ');
            };

            $("#form_thana_list").html(container);

        }
    });

}


</script>

{% endblock %}
