{% extends 'base.html' %}

{% block title %}Edit Professional History | Istehar{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 40px;">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card white">
                <div class="card-content black-text">
                    <div class="row">

                        <!--left side menu-->
                        <div class="col m3 l3" style="">
                            <div class="col s12 m12 l12 divider" style="margin-bottom: 10px;"></div>

                            <a class="" href="{% url 'account:dashboard' %}">
                                <div class="col s12 m12 l12" style="">
                                    <p class="left" style="font-size: 16px;">
                                        My account
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a class="" href="{% url 'account:membership' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        My membership
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a class="black-text" href="{% url 'account:resume' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        My resume
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="#">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        Favourites
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                            <a href="{% url 'account:settings' %}">
                                <div class="col s12 m12 l12" style="margin-top: 10px;">
                                    <p class="left" style="font-size: 16px;">
                                        Settings
                                    </p>

                                    <p class="right"> > </p>
                                </div>
                            </a>

                            <div class="col s12 m12 l12 divider" style="margin-top: 10px;"></div>

                        </div>
                        <!--end left side menu-->

                        <div class="col m9 l9" style="">
                            <div class="col s12 m12 l12">
                                <h5>My resume</h5>

                                <p class="divider"></p>
                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">

                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <h5>Edit Past employments</h5>

                                <p class="divider"></p>

                                <p style="margin-top: 20px;">Edit details of your previous jobs.</p>

                                <div class="col s12 m12 l12" style="margin-top: 30px;">

                                    <form method="post">
                                        {% csrf_token %}

                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">account_balance</i>
                                            {{ edit_past_employment_form.company_name }}
                                            <label for="icon_prefix white-text">Name of the company</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            {{ edit_past_employment_form.industry }}
                                            <label>Industry (optional)</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            {{ edit_past_employment_form.business_function }}
                                            <label>Business Function (optional)</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">accessibility</i>
                                            {{ edit_past_employment_form.role_designation }}
                                            <label for="icon_prefix white-text">Role / Designation</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">date_range</i>
                                            {{ edit_past_employment_form.started_date }}
                                            <label for="icon_prefix white-text">Started date</label>
                                        </div>

                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">date_range</i>
                                            {{ edit_past_employment_form.end_date }}
                                            <label for="icon_prefix white-text">End date</label>
                                        </div>


                                        <div class="input-field col s12 m12 l12">
                                            <i class="material-icons prefix">create</i>
                                            {{ edit_past_employment_form.about_role }}
                                            <label for="icon_prefix white-text">About the role (optional) </label>
                                        </div>

                                        {% if edit_past_employment_form.non_field_errors %}
                                            {% for error in edit_past_employment_form.non_field_errors %}
                                                <div class="col s12 m12 l12 center-align valign-wrapper red" style="height: 40px; border: 1px solid red; margin-bottom: 20px; margin-top: 30px;">
                                                    <p class="col s12 m12 l12 white-text" style="font-size: 14px;">
                                                        {{ error }}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="col s12 m12 l12">
                                            <button type="submit" class="waves-effect waves-light btn white-text" style="margin-top: 20px;">Update</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

<script>
    $(document).ready(function() {
        $('select').material_select();
    });


    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        format: 'yyyy-mm-dd',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });


    $(document).ready( function() {
        $("#id_division").change( function() {

            var division = $("#id_division").val();

            var container = $('<select onChange="get_thana()" name="district" id="id_district" class="browser-default" />');

            container.append('\
                <option>'+ "None" +'</option>\
            ');

            $.ajax({
                url: '/staff/district/api/',
                data: { "division":division, },
                dataType: 'json',

                success: function (data) {

                    length = data.length;


                    for(i=0; i<length; i++){
                        container.append('\
                            <option value='+data[i].id+' id='+data[i].id+'>'+ data[i].name +'</option>\
                        ');
                    };

                    $("#form_district_list").html(container);

                }
            });
        });
    });



function get_thana(){
    var divi = $("#id_division").val();
    var district = $("#id_district").val();

    var container = $('<select name="thana" id="id_thana" class="browser-default" />');

    container.append('\
        <option>'+ "None" +'</option>\
    ');

    $.ajax({
        url: '/staff/thana/api/',
        data: { "division":divi, "district":district, },
        dataType: 'json',

        success: function (data) {

            length = data.length;


            for(i=0; i<length; i++){
                container.append('\
                    <option value='+data[i].id+' id='+data[i].id+'>'+ data[i].name +'</option>\
                ');
            };

            $("#form_thana_list").html(container);

        }
    });

}


</script>

{% endblock %}
