{% extends 'base.html' %}

{% block title %}Login | Istehar{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 40px;">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card white">
                <div class="card-content black-text">
                    <div class="row">
                        <div class="col m6 l6" style="">
                            <h5>Log in to Istehar</h5>
                            <p>
                                To view your ads and account details, please login to your Istehar account.
                            </p>

                            <div class="" style="margin-top: 50px;">
                                <p>Start posting your own ads.</p>

                                <p style="margin-top: 20px;">Mark ads as favorite and view them later.</p>

                                <p style="margin-top: 20px;">View and manage your ads at your convenience.</p>
                            </div>
                        </div>

                        <div class="col m6 l6 center-align" style="border-left: 1px solid #333;">
                            <a class="waves-effect waves-light blue btn">Login With Facebook</a>

                            <p style="margin-top: 10px; margin-bottom: 10px;">or</p>

                            <form method="post" style="">
                                {% csrf_token %}

                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">account_circle</i>
                                    {{ login_form.username }}
                                    <label for="icon_prefix white-text">Username / Email</label>
                                </div>

                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">lock</i>
                                    {{ login_form.password }}
                                    <label for="icon_prefix white-text">Password</label>
                                </div>

                                {% if login_form.non_field_errors %}
                                    {% for error in login_form.non_field_errors %}
                                        <div class="col s12 m12 l12 center-align valign-wrapper red" style="height: 40px; border: 1px solid red; margin-bottom: 20px; margin-top: 10px;">
                                            <p class="col s12 m12 l12 white-text" style="font-size: 14px;">
                                                {{ error }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="col s12 m12 l12 center-align">
                                    <button class="btn waves-effect waves-light" type="submit" style="">Login
                                    </button>
                                </div>
                            </form>

                            <a class="col s12 m12 l12" href="#" style="margin-top: 20px;">
                                Forgot password?
                            </a>

                            <div class="col s12 m12 l12 divider" style="color: #333; margin-top: 20px; margin-bottom: 20px;">
                            </div>

                            <div class="col s12 m12 l12">
                                <p>
                                    Don't have an account yet?
                                </p>

                                <a href="{% url 'account:registration-options' %}" style="margin-top: 20px; border: 1px solid #333; margin-bottom: 10px;" class="waves-effect waves-light white black-text btn">Sign up</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
