{% extends 'staff-base.html' %}

{% block title %}Edit Division | Istehar{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 40px;">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card white">
                <div class="card-content black-text">
                    <div class="row">
                        <h5>Edit division name</h5>

                        <div class="col m12 l12 center-align">

                            <form method="post" style="">
                                {% csrf_token %}

                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">account_circle</i>
                                    {{ division_edit_form.name }}
                                    <label for="icon_prefix white-text">Name</label>
                                </div>

                                {% if division_edit_form.non_field_errors %}
                                    {% for error in division_edit_form.non_field_errors %}
                                        <div class="col s12 m12 l12 center-align valign-wrapper red" style="height: 40px; border: 1px solid red; margin-bottom: 20px; margin-top: 10px;">
                                            <p class="col s12 m12 l12 white-text" style="font-size: 14px;">
                                                {{ error }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="col s12 m12 l12 center-align">
                                    <button class="btn waves-effect waves-light" type="submit" style="">Update
                                    </button>

                                    <a href="{% url 'staff:division-delete' division=division %}" class="btn waves-effect waves-light" style="">Delete
                                    </a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
